<% layout('layouts/cover-layout') %>

<link rel="stylesheet" href="/css/signin.css" />

<div class="form-signin">
  <%- include('../partials/flash')%>
  <form action="/login" method="POST" class="validated-form" novalidate>
    <h1 class="logo">⛺️</h1>
    <h2 class="h3 mb-3 fw-normal">Please sign in</h2>
    <div class="form-floating mb-1">
      <input
        class="form-control text-white"
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        required
      />
      <label class="form-label" for="username">Username</label>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-floating mb-4">
      <input
        class="form-control text-white"
        type="password"
        id="password"
        name="password"
        placeholder="password"
        required
      />
      <label class="form-label" for="password">Password</label>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="w-100 btn btn-primary">Login</button>
      </div>
      <div class="col-6">
        <a type="button" class="w-100 btn btn-light" href="/register">
          Register
        </a>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted">YelpCamp &copy; 2021</p>
  </form>
</div>

<!-- <div class="row">
  <div class="col-6 offset-3">
    <h1 class="mb-4">Login</h1>
  </div>
</div> -->
